.oAuthLinks div{
  padding: 2px 5px;
  margin: 1.9em 0;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.link {
  color: black;
  text-decoration: none
}
.link:hover {
  color: black;
  text-decoration: none;
}
.oAuthLinks {
  width: 30%;

}

.facebook {
  background: #3b5998;
  color: white;
  border: 1px solid #3b5998;

}

.google {
  background: #de5246;
  color: white;
  border: 1px solid #de5246;

}

.email {
  border: 1px solid black
}

@media (max-width: 768px) {
  .oAuthLinks {
    width: 100%;
  }
}